<img src='http://ciceron.me/api/mail_img/img/logo.png'><br>
<span style='color:#5F9EA0'><h1>Hi, this is Bryan from CICERON.</h1></span>
    <br>
    <br>
    <br>You may click the link below to download your request!
    <br><a href="{downloadable_link}">{downloadable_link}</a>
    <br>
    <br>Thank you for remembering and visiting CICERON.
    <br>I wish you were satisfied our translation, which is the result from lots of consideration of us.
    <br>If there is any problem, please don't hesitate to <a href="mailto:contact@ciceron.me">contact us!</a>
    <br>
    <br>
    <br>Many thanks,
    <br>Bryan
